<!DOCTYPE html>
<html>
<head>
    <title>ChartJS - Pie</title>
    
    <link href="/public/css/chart.css.css" rel="stylesheet">
    
</head>
<body>
	<div class="chart-container">
		<div class="pie-chart-container">
			<canvas id="pie-chartcanvas-1"></canvas>
		</div>


	<!-- javascript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/Chart.min.js"></script>

    <script src="js/arraychart.js"></script>
    
</body>
</html>