
<link rel="stylesheet" href="css/style.css" />

<body style="background-color: azure;"></body>


<div class="w3-container">
  <div class="w3-panel w3-border w3-light-grey w3-round-large">
    <p> Date: 09/02/2020</p> Teacher: Mr Lee 
    <p>Lesson notes: Arrays</p>
   
  </div>
</div>

<div class="w3-container">
  <div class="w3-panel w3-border w3-light-grey w3-round-large">
 
    <h4> Arrays </h4>
    <h5> What is an array? </h5>
    <h6> A variable is a memory location that can store a value. </h6>
    <h6>A way to visualise a variable, think of a box. This box can store a value which can change or 'vary'. A program can store as many variables as required </h6>
    <h6> But each variable can only hold one item of data. </h6> <br>
    <h6> An array is a series of memory locations - or 'boxes'- each of which holds a single item of data, but with each box sharing the same name.</h6>
    <h6> All data in an array must be of the same type.</h6>
    <div class="w3-container" id= pocketmoney> 
      <div class="w3-panel w3-border w3-purple w3-round-large">
        <h5> Example: Score </h5>
        <h6> Imagine a score table in a game which needs to store ten scores. One way to do this to have ten variables: </h6>  
        <h6> score_0 </h6>
        <h6> score_1 </h6>
        <h6> score_2 </h6>
        <h6> score_3 </h6>
        <h6> score_4 </h6>
        <h6> score_5 </h6>
        <h6> score_6 </h6>
        <h6> score_7 </h6>
        <h6> score_8 </h6>
        <h6> score_9 </h6>
      
     <h6> This should work, but there is a better/simpler way. We do this by using an array. </h6> <br>
    <h6>Instead of having ten variables, each holding a score (as above) there could one array which holds all the related data.</h6>
         <h6>score(9)</h6> 
         <h6>By using this array, all ten data items can be stored in one place. </h6>
        </div>
      </div>
   
      <h6> The individual values, or array elements, are numbered 0 to 9 because computers start counting from 0. </h6>
    
            <h5> Naming arrays </h5>
            <h6> Arrays are named like variables. The number in the brackets determines how many data items the array can hold.</h6>  
            <h6> The array 'score(9) would allow ten items to be stored. </h6>
     
    
            <h5> Using arrays </h5>
        <h6> To store a data item in array, the element that the data will be stored in needs to be referenced.</h6>
        <div class="w3-container" id= pocketmoney> 
          <div class="w3-panel w3-border w3-purple w3-round-large">
        <h6> Example: Score</h6>
        <h6> In this example, the array 'score(10)', the following would store the score 1000 in the first element.  </h6>
        <h6> score[0] = 1000 </h6>
        <h6> The following would store the score 500 in the second element.  </h6>
        <h6> score[1] = 500 </h6><br>
        <h6> To access the data stored in an element, the element must be referenced to by is number: </h6>
        <h6> print(score[0]) </h6><br>
        <h6> total = score[0] + score[1] </h6><br>
      </div>
    </div>
    <h5> Why use arrays? </h5>
    <h6> A variable holds a single item of data. There may be a situation where lots of variabels are needed to hold similar data.</h6>
    <h6>   In this situation, using an array can simplify a program by storing all related data under one name. </h6>  <h6>  This means that a program 
     can be written to search through an array of data much more quickly than having to write a new line of for every variable. </h6>
    <h6>   This reduces the complexity and length of the program which makes it easier identify and debug errors. </h6> 

 </div>
</div>

<div class="buttons">

  <a href="/lessons" class="button"> Lesson notes </a>

</div> 