
<link rel="stylesheet" href="css/style.css" />

<body style="background-color: azure;"></body>


<center><h1 class="mt-4">Home Page</h1></center>
<center><p class = "lead mb-3">Welcome <%=  user.name %> </p></center>


<br><br><br><br>

    <div class="button-container">
<div class="buttons2">
<a href="/graphs" class="btn">Quiz results 2019</a>

</div>



<div class="buttons2">
<a href="/lessons" class="btn ">Lesson Notes</a>
</div>




<div class="buttons2">
<a href="/posts" class="btn ">Message Board </a>
</div>


<div class="buttons2">
<a href="/quiz" class="btn "> Quiz</a>
</div>

<div class="buttons2">
<a href="/todo" class="btn "> Homework Planner </a>
</div>

<div class="buttons2">
    <a href="/users/logout" class="btn "> Logout</a>
    </div>


</div>
