<p style="text-align: center;"></p><img src="CorrectLogo.png" alt="Logo"></p>

<center><h1 class="mt-4">Home Page</h1></center>
<center><p class = "lead mb-3">Welcome <%=  user.name %> </p></center>




    <div class="button-container">
<div class="buttons2">
<a href="/arraychart" class="btn">Arrays Quiz Results 2019</a>

</div>

<div class="buttons2">
<a href="/functionchart" class="btn">Functions and Procedures Quiz Results 2019</a>
</div>

<div class="buttons2">
<a href="/variablechart" class="btn">Variables Quiz Results 2019</a>
</div>

<div class="buttons2">
<a href="/variables" class="btn ">Lesson Notes: Variables</a>
</div>


<div class="buttons2">
<a href="/arrays" class="btn ">Lesson Notes: Arrays</a>
</div>

<div class="buttons2">
<a href="/functions" class="btn ">Lesson Notes: Functions and Procedures</a>
</div>


<div class="buttons2">
<a href="/posts" class="btn ">Message Board </a>
</div>


<div class="buttons2">
<a href="/quiz" class="btn "> Quiz</a>
</div>

<div class="buttons2">
<a href="/todo" class="btn "> Homework Planner </a>
</div>

<div class="buttons2">
    <a href="/users/logout" class="btn "> Logout</a>
    </div>


</div>
