
    <title>Quiz results</title>
    <link rel="stylesheet" href="css/app.css" />

    <div class="title">
      <center> <h1>Quiz over!</h1></center>
      </div>
    <div class="container">
      <div id="end" class="flex-center flex-column">
        <p id="progressText" class="hud-prefix">
          <h1>Score</h1>
        </p>
        <h1 id="finalScore"></h1>
        <form>
       
          <input
            type="text"
            name="username"
            id="username"
            placeholder="username"
          />
          <button
            type="submit"
            class="btn"
            id="saveScoreBtn"
            onclick="saveHighScore(event)"
            disabled
          >
            Save
          </button>
        </form>
    
      
      </div>
    </div>
    <script src="js/endfunctions.js"></script>