
  
<div class="w3-container">
  <div class="w3-panel w3-border w3-light-grey w3-round-large">
    <p> Date: 10/02/2020</p> Teacher: Mr Lee 
    <p>Lesson notes: Functions and procedures</p>
   
  </div>
</div>

<div class="w3-container">
  <div class="w3-panel w3-border w3-light-grey w3-round-large">
 
    <h4> Functions </h4>
    <h5> What is a function? </h5>
     A procedure is a small section of a program that performs a specific task. Procedures can be used repeatedley throughout a program. 
    <h5>Why do we use functions? </h5>
       Program code is easier to read and understand when it broken up into smaller sections.
         Functions and procedures can make code shorter, simpler and easier to write.
     Procedures are used as they provide feedback.
     Sometimes, feedback is needed. Example: If you're playing a board game that uses a dice, you need to the roll the dice to see how many moves you need to make. </h6>
     A function is like a procedure, except that you need to wait to see what the result is. 
    Variables are an essential part of programming.
   
      <h5> Writing a function</h5>
    Writing a function is simple. Every function needs: 
  <br>. a name  
    <br> . the values that it needs to use for the calculation. 
      <br> . the program code to perform the task. 
      <br> . a value to return to the main program.
    
      <br> 
      <br> <h5> Functions in Python</h5>
      <div class="w3-container">
        <div class="w3-panel w3-border w3-purple w3-round-large">
          <h5> Example: Throwing a dice </h5>
          <h6> def rollDice(sides); </h6>  
          <h6> import random </h6>  
          <h6> def rollDice(sides) </h6>  
          <h6> number = random.randint(1, sides) </h6>  
          <h6> random(number) </h6>  
          <h6> sides = int(input("How many side does the dice have?")).</h6>
           <h6> throw = rollDice(sides) </h6> 
           <h6> print(throw) </h6>

    
        </div>
      </div>
      <h5> Breaking down our example: </h5>
      def rollDice(sides): the 'def' statement means we want name our function. In this example our function is called rollDice. 
      <br> The calculation needs to know how sides a dice has. So a good name for this variable is 'sides'. 
      <br> Our variable 'number' will hold a random number. This variable is calculated and is then returned 
      <br>from the program. The variable 'sides' needs user input to state how many sides the dice has. 
      <br> Finally to call our function we need to store the rollDice value in a variable. For our example we have called this 'throw'. 
      <br> to output the value of throw we then print it to the screen using 'print(throw)'. 

  </div>
  </div>