
<link rel="stylesheet" href="css/style.css" />
<body style="background-color: azure;"></body>
    <title>ChartJS - Pie</title>
 

    <center> <h1> Quiz results for Functions and Procedures 2019</h1></center>
   
   

       <div  class="size" >
   
   
   
     
   
       <div class="chart-container">
           <div class="pie-chart-container">
               <canvas id="pie-chartcanvas-1"></canvas>
           </div>
       </div>

    </div>
     
    <div class="buttons">

        <a href="/graphs" class="button"> Quiz results </a>
    
      </div> 
       
       <!-- javascript -->
       <script src="js/jquery.min.js"></script>
       <script src="js/Chart.min.js"></script>
   
       <script src="js/arraychart.js"></script>
