
    <title>ChartJS - Pie</title>
 <!--    
    <link href="/public/css/chart.css.css" rel="stylesheet"> -->
    
    <div  class="size" >



  

	<div class="chart-container">
		<div class="pie-chart-container">
			<canvas id="pie-chartcanvas-1"></canvas>
		</div>
    </div>

	<!-- javascript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/Chart.min.js"></script>

    <script src="js/functionchart.js"></script>
    
