
<link rel="stylesheet" href="css/style.css" />

<center><h1> Results</h1></center>

<center><h2>Select results</h2></center> <br><br>

<div class="container">
  <div id="home" class="flex-center flex-column"> 
<div>

</div>
<div class="buttons">
  <a href="/arraychart" class="button"> Results of quiz Arrays 2019 </a>

</div>

  <div class="buttons">
    <a href="/variablechart" class="button"> Results of quiz Variables 2019</a>

  </div> 
  

    <div class="buttons">

      <a href="/functionchart" class="button"> Results of Functions and Procedures 2019 </a>


  </div>

  
  <div class="buttons">

    <a href="/dashboard" class="button"> Home </a>


</div>


  </div>    
</div>