
<center> <h1> Message board </h1></center>

<div class = "container2">
<div class="table"> 

<table border ="1"> 
<% 
if (typeof posts != 'undefined' && posts.length > 0){
    var srNo = 0; 
    posts.forEach(function(post){
        srNo = srNo + 1; 
        %> 
<tr>
<td><%= srNo %></td>
<td><%= post.module%></td>

<td><a href="/posts/detail/<%= post._id %>" title="Post Detail">Course feedback</a></td>

</tr>
   <% }); 
}
else {  %> 
    <tr><td colspan="3"> No Data</td></tr> 
    <% } %> 

</table> 
</div>
</div>

