
<link rel="stylesheet" href="css/style.css" />
<center><h1> Lesson notes</h1></center>

<center><h2>Select lesson notes</h2></center> <br><br>

<div class="container">
  <div id="home" class="flex-center flex-column"> 
<div>

</div>
<div class="buttons">
  <a href="/arrays" class="button">  Lesson notes: Arrays</a>

</div>

  <div class="buttons">
    <a href="/variables" class="button"> Lesson notes: Variables </a>

  </div> 
  

    <div class="buttons">

      <a href="/functions" class="button"> Lesson notes: Functions and Procedures </a>


  </div>
  <div class="buttons">

    <a href="/dashboard" class="button"> Home </a>

  </div> 

  </div>    
</div>

