<title>Quiz</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!-- ////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////// -->
<link rel="stylesheet" type="text/css" href="css/style.css">
<link href="css/app.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <div id="home" class="flex-center flex-column"> 
   
   
    <p style="text-align: center;"><img src="CorrectLogo.png" alt="Logo"></p>

    <a class="btn" href="variablesquiz.html">Variables </a> 

    <a class="btn" href="arraysquiz.html"> Arrays </a>

    <a class="btn" href="functionsquiz.html">Functions </a>


    <a class="btn" href="highscores.html"> High Scores</a> <br>


  </div>    
</div>