<!-- <title>Quiz</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<link rel="stylesheet" type="text/css" href="css/style.css">
<link href="css/app.css" rel="stylesheet">
 -->
<center><h1> Quiz</h1></center>

<center><h2>Select a quiz</h2></center> <br><br>

<div class="container">
  <div id="home" class="flex-center flex-column"> 
<div>

</div>
<div class="buttons">
  <a href="/arraysquiz" class="button"> Arrays quiz</a>

</div>

  <div class="buttons">
    <a href="/variablesquiz" class="button"> Variables quiz</a>

  </div> 
  

    <div class="buttons">

      <a href="/functionsquiz" class="button"> Functions and Procedures quiz </a>


  </div>


  </div>    
</div>