<!-- <title>Quiz</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<link rel="stylesheet" type="text/css" href="css/style.css">
<link href="css/app.css" rel="stylesheet">
 -->
<div class="container">
  <div id="home" class="flex-center flex-column"> 
   
   


    <a class="btn" href="/variablesquiz">Variables </a> 

  </div>

    <a class="btn" href="/arraysquiz"> Arrays </a>

    <a class="btn" href="/functionsquiz">Functions </a>




  </div>    
</div>