.logo {
    display: block;
    text-align: center;  
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

/* .main-body {
    margin-left: auto;
    margin-right: auto;  
    
} */

.links {
    /* margin-left: auto;
    margin-right: auto;  */
   
    text-align: center; 
    display: flex;
  
   
}
.size {

    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    width: 600px;
}

.custom-container{
    width: 100%; 
   
}

.coms{
background-color: tomato;
 
}

.table{
     margin-left: auto;
     margin-right: auto;
    width: 300px;
  
    padding-top: 50px;
}

